<footer class="footer col">
  <div class="container row align-center">
    <div class="footer__logo">
      <a href="./">
        <svg width="48" height="48">
          <use xlink:href="sprite.svg#small-logo" />
        </svg>
      </a>
    </div>
    <nav class="footer__nav">
      <ul class="footer__nav_list row">
        <li class="footer__nav_item"><a href="">Browse</a></li>
        <li class="footer__nav_item"><a href="">About</a></li>
        <li class="footer__nav_item"><a href="">Dictionary</a></li>
      </ul>
    </nav>
    <div class="footer__info row">
      <div class="footer__info_item">
        <a href="#">
          Terms of Service
        </a>
      </div>
      <div class="footer__info_item">
        <a href="#">
          Privacy Policy
        </a>
      </div>
    </div>
  </div>
  <div class="container footer__madein">
    Made in <a href="">Einzelwerk</a> © 2021
  </div>
</footer>

</body>

</html>