<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>


<body>

  <header class="header">
    <div class="container row align-center">
      <div class="header__col header__logo">
        <a href="/" class="header__logo-link">
          <svg class="icon icon--web" width="182" height="40">
            <use xlink:href="sprite.svg#logo"></use>
          </svg>
        </a>
      </div>
      <nav class="header__col header__nav">
        <ul class="header__nav-wrapper row">
          <li class="header__nav-item">
            <a href="">Browse</a>
          </li>
          <li class="header__nav-item">
            <a href="">About</a>
          </li>
          <li class="header__nav-item">
            <a href="">Dictionary</a>
          </li>
        </ul>
      </nav>
      <div class="header__col header__info">
        <div class="header__info-content row">
          <span class="header__content-date">
            30 Oct. 2021:
          </span>
          <span class="header__content-ref">
            2,053 references
          </span>
        </div>
      </div>
    </div>
  </header>