<header class="header">
  <div class="container row align-center">
    <div class="header__col header__logo">
      <a href="./" class="header__logo-link">
        <svg width="182" height="40">
          <use xlink:href="sprite.svg#logo"></use>
        </svg>
      </a>
    </div>
    <nav class="header__col header__nav">
      <ul class="header__nav-wrapper row">
        <li class="header__nav-item">
          <a href="">Browse</a>
        </li>
        <li class="header__nav-item">
          <a href="">About</a>
        </li>
        <li class="header__nav-item">
          <a href="">Dictionary</a>
        </li>
      </ul>
    </nav>
    <div class="header__col header__info">
      <div class="header__info-content row">
        <span class="header__content-date"> In libary</span>
        <span class="header__content-ref"> 2,053 references </span>
      </div>
    </div>
  </div>
</header>
