<div class="selection__grid">
  <% for( var y = 1; y <= 3; y++ ) { %>
  <div class="grid__column col">
    <% for(var i = 0;i<10;i++) {%>
    <div class="column__item col">
      <a href="/item.html"></a>
      <div class="column__item-image">
        <img src="./images/<%=i+y _%> .jpg" alt="" />
      </div>
      <div class="column__item-text col">
        <div class="column__tags row">
          <div class="tags__item">Gradient</div>
          <div class="tags__item">Real Estate</div>
          <div class="tags__item">Call to Action</div>
        </div>
        <div class="column__creator row">
          <span>by</span>
          Walter Living
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <% } %>
</div>
<div class="selection__load-more">Load more</div>
