<aside class="filter__sidebar-wrapper">
  <div class="filter__sidebar_inner col">
    <div class="filter__header row space-between">
      <span class="filter__title">
        Filter by <span class="filter__title_type">Industry</span>
      </span>
      <svg class="icon filter__close" width="16" height="16">
        <use xlink:href="sprite.svg#close" />
      </svg>
    </div>
    <% for( var index = 0; index < 22; index++ ) { %>
      <div class="filter__item">
        Business
      </div>
    <% } %>
    
  </div>
</aside>
