<%- include templates/header -%>

<main class="main page__item">
  <section class="container">
    <h1 class="main-title v2">
      CTA Blue Real Estate <span class="gray__text">by</span> <br />
      <span class="creator__title"> duesseldorf-business-school.de </span>
    </h1>
  </section>
  <section class="container">
    <div class="nav__top row align-center space-between">
      <div class="nav__resolution row">
        <div class="nav__item row align-center active">
          <div class="nav__item-icon">
            <svg class="icon icon--web" width="16" height="16">
              <use xlink:href="sprite.svg#mon"></use>
            </svg>
          </div>
          <div class="nav__item-name">Desktop</div>
        </div>
        <div class="nav__item row align-center">
          <div class="nav__item-icon">
            <svg class="icon icon--web" width="16" height="16">
              <use xlink:href="sprite.svg#tablet"></use>
            </svg>
          </div>
          <div class="nav__item-name">Tablet</div>
        </div>
        <div class="nav__item row align-center">
          <div class="nav__item-icon">
            <svg class="icon icon--web" width="16" height="16">
              <use xlink:href="sprite.svg#mobile"></use>
            </svg>
          </div>
          <div class="nav__item-name">Mobile</div>
        </div>
      </div>
      <div class="search__wrapper">
        <form class="search__form" action="">
          <div class="search__input" data-event="open-search">
            <input type="text" />
          </div>
          <label class="search__label" data-event="open-search">
            <svg class="icon icon--web" width="16" height="16">
              <use xlink:href="sprite.svg#search"></use>
            </svg>
            <input type="submit" />
          </label>
        </form>
      </div>
    </div>
    <div class="selection__single row">
      <div class="selection__main">
        <div class="selection__preview">
          <img
            class="selection__preview-img"
            src="./images/preview.jpg"
            alt=""
          />
        </div>
        <div class="selection__nav row space-between">
          <div class="selection__nav_item selection__item_prev">
            <svg class="selection__nav_icon" width="16" height="16">
              <use xlink:href="sprite.svg#arrow"   />
            </svg>
            <a href="#" class="selection__nav_link">Previous ref</a>
          </div>
          <div class="selection__nav_item selection__item_back">
            <a href="#" class="selection__nav_link">Back to search results</a>
          </div>
          <div class="selection__nav_item selection__item_next">
            <a href="#" class="selection__nav_link">Next ref</a>
            <svg class="selection__nav_icon" width="16" height="16">
              <use xlink:href="sprite.svg#arrow"   />
            </svg>
          </div>
        </div>
      </div>
      <div class="selection__sidebar col">
        <div class="selection__tags col">
          <div class="selection__tags-item">
            <span class="tags__name">Industries</span>
            <div class="tags__wrapper row">
              <a href="#" class="tags__item">B2C</a>
              <a href="#" class="tags__item">Real Estate</a>
            </div>
          </div>
          <div class="selection__tags-item">
            <span class="tags__name">Patterns</span>
            <div class="tags__wrapper row">
              <a href="#" class="tags__item">Pricing</a>
              <a href="#" class="tags__item">CTA</a>
              <a href="#" class="tags__item">FAQ</a>
              <a href="#" class="tags__item">Testimotionals</a>
            </div>
          </div>
          <div class="selection__tags-item">
            <span class="tags__name">Elements</span>
            <div class="tags__wrapper row">
              <a href="#" class="tags__item">Main Button</a>
              <a href="#" class="tags__item">Secondary Button</a>
              <a href="#" class="tags__item">Logo</a>
              <a href="#" class="tags__item">Bullet List</a>
              <a href="#" class="tags__item">Headline</a>
              <a href="#" class="tags__item">Subheadline</a>
              <a href="#" class="tags__item">Shadow</a>
              <a href="#" class="tags__item">Pricing</a>
            </div>
          </div>
          <div class="selection__tags-item">
            <span class="tags__name">Industries</span>
            <div class="tags__wrapper row">
              <a href="#" class="tags__item">B2C</a>
              <a href="#" class="tags__item">Real Estate</a>
            </div>
          </div>
          <div class="selection__tags-item">
            <span class="tags__name">Industries</span>
            <div class="tags__wrapper row">
              <a href="#" class="tags__item">B2C</a>
              <a href="#" class="tags__item">Real Estate</a>
            </div>
          </div>
          <div class="selection__tags-item">
            <span class="tags__name">Industries</span>
            <div class="tags__wrapper row">
              <a href="#" class="tags__item">B2C</a>
              <a href="#" class="tags__item">Real Estate</a>
            </div>
          </div>
        </div>
        <div class="selection__events row">
          <div class="selection__btn visit__btn">
            <a href="google.com" target="_blank">Visit website</a>
          </div>
          <a href="#" class="selection__btn btn__copy row align-center">
            <div class="selection__btn-icon">
              <svg width="16" height="16">
                <use xlink:href="sprite.svg#Link" />
              </svg>
            </div>
            <div class="selection__btn-text">Copy link</div>
          </a>
          <a href="#" class="selection__btn btn__collection">
            <div class="selection__btn-icon">
              <svg width="16" height="16">
                <use xlink:href="sprite.svg#BookmarksSimple" />
              </svg>
            </div>
            <div class="selection__btn-text">Add to collection</div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <h3 class="secondary__title">Related References</h3>
    <%- include templates/selection -%>
  </section>
</main>

<%- include templates/footer-%>
